
.modal {
  position: absolute;
  z-index: 2;
  background: #fff;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  max-width: 394px;
  width: 100%;
  text-align: center;
  padding: 38px 20px 20px;
  border-radius: 15px;
  @include breakpoint('<=medium') {
    width: 94%;
  }
  h2 {
    font-family: objektiv-mk1, sans-serif;
    font-size: 34px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: .65px;
    max-width: 347px;
    margin-bottom: 40px;
    text-align: center;
    color: #0c584c;
    text-transform: none;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  button.yes {
    border-radius: 5px;
    border: none;
    font-family: objektiv-mk1, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
    text-align: center;
    background: #02584c;
    color: #fff;
    width: 48%;
    &:hover {
      color: #f2d954;
    }
  }
  a.no {
    border-radius: 5px;
    border: none;
    background-color: #f2d954;
    color: #02584c;
    display: inline-block;
    font-family: objektiv-mk1, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
    text-align: center;
    color: #02584c;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 1.5em;
    text-transform: capitalize;
    width: 48%;
  }
}
