
.modal {
  position: absolute;
  z-index: 2;
  background: #fff;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  max-width: 394px;
  width: 100%;
  text-align: center;
  padding: 30px 20px;
  border-radius: 15px;
  h2 {
    font-family: objektiv-mk1, sans-serif;
    font-size: 34px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0.34px;
    text-align: center;
    color: #0c584c;
    text-transform: none;
  }
  button.yes {
    border-radius: 5px;
    background-color: #f2d954;
    border: none;
    font-family: objektiv-mk1, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.17px;
    text-align: center;
    color: #02584c;
    margin-right: 10px;
  }
  a.no {
    border-radius: 5px;
    border: 2px solid #f2d954;
    display: inline-block;
    font-family: objektiv-mk1, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.17px;
    text-align: center;
    color: #02584c;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 1.5em;
    text-transform: capitalize;
  }
}
